
.form__group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-.5 * 1.5rem) 1rem;
}

.form__group > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-top: 0;
}

.form__help {
    color: #6c757d;
    margin-top: 0.25rem;
    font-size: .875em;
}

.form__control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form__control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.form__control--plain {
    width: auto;
    padding-left: calc(1.5rem * .5);
    margin-bottom: 0;
    background-color: transparent;
    border-color: transparent;
    border-width: 1px 0;
}

@media (min-width: 576px) {
    .form__col--4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .form__col--8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .form__col--offset-4 {
        margin-left: 33.33333333%;
    }
}
